In [1]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [4]:
# Read the CSV files into DataFrames.
athletic_sales_2020 = pd.read_csv('athletic_sales_2020.csv')
athletic_sales_2021 = pd.read_csv('athletic_sales_2021.csv')

In [6]:
# Display the 2020 sales DataFrame
print(athletic_sales_2020)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
1292    West Gear      1128299     12/30/20       West    California
1293    West Gear      1128299     12/30/20       West    California
1294       Kohl's      1189833     12/30/20    Midwest     Minnesota
1295       Kohl's      1189833     12/30/20    Midwest     Minnesota
1296    West Gear      1128299     12/30/20       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
1292  San Francisco          Women's Apparel              72         203
1293  San Francisco          Women's Apparel              80         700
1294    Minneapolis  Women's Street Footwear              41         119
1295    Minneapolis  Women's Street Footwear              45         475
1296  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
1292        14616           3946.32       Online
1293       560000          84000.00       Outlet
1294         4879           2878.61       Online
1295       213750          96187.50       Outlet
1296        15190           2886.10       Outlet

[1297 rows x 12 columns]

In [8]:
# Display the 2021 sales DataFrame
print(athletic_sales_2021)

         retailer  retailer_id invoice_date     region         state  \
0       West Gear      1128299       1/1/21       West    California
1       West Gear      1128299       1/1/21       West    California
2          Kohl's      1189833       1/1/21    Midwest       Montana
3          Kohl's      1189833       1/1/21    Midwest       Montana
4       West Gear      1128299       1/1/21       West    California
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

               city                  product  price_per_unit  units_sold  \
0     San Francisco  Men's Athletic Footwear              65         750
1     San Francisco  Men's Athletic Footwear              51         233
2          Billings            Men's Apparel              50         275
3          Billings            Men's Apparel              47          77
4     San Francisco  Men's Athletic Footwear              64         225
...             ...                      ...             ...         ...
8341   Philadelphia            Men's Apparel              63          47
8342   Philadelphia            Men's Apparel              46          56
8343       Portland            Men's Apparel              52          36
8344       Portland            Men's Apparel              55         125
8345   Philadelphia            Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          487500         121875.00       Outlet
1           11883           3208.41       Outlet
2          137500          82500.00       Outlet
3            3619           2714.25       Online
4           14400           5184.00       Online
...           ...               ...          ...
8341         2961           1362.06       Online
8342         2576           1004.64       Outlet
8343         1872            692.64       Online
8344        68750          17187.50       Outlet
8345       122500          42875.00       Outlet

[8346 rows x 12 columns]

#### Check the data types of each DataFrame

In [11]:
# Check the 2020 sales data types.
type(athletic_sales_2020)

pandas.core.frame.DataFrame

In [13]:
# Check the 2021 sales data types.
type(athletic_sales_2021)

pandas.core.frame.DataFrame

#### Combine the sales data by rows.

In [16]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_sales = pd.concat([athletic_sales_2020, athletic_sales_2021], ignore_index=True)
combined_sales.reset_index(drop=True, inplace=True)

In [18]:
# Check if any values are null.
null_values = combined_sales.isnull().sum()

In [20]:
# Check the data type of each column
data_types = combined_sales.dtypes

In [22]:
# Convert the "invoice_date" to a datetime datatype
combined_sales['invoice_date'] = pd.to_datetime(combined_sales['invoice_date'], format='%m/%d/%y')

In [24]:
# Confirm that the "invoice_date" data type has been changed.
print("Data Types in Each Column:")
print(combined_sales.dtypes)
print("\nInvoice Date Data Type Check:")
print(combined_sales.dtypes['invoice_date'])

Data Types in Each Column:
retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

Invoice Date Data Type Check:
datetime64[ns]

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [28]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
sales_by_region = combined_sales.groupby(['region', 'state', 'city']).agg(Total_Products_Sold=('units_sold', 'sum'))

# Show the top 5 results.
top_5_sales = sales_by_region.sort_values(by='Total_Products_Sold', ascending=False).head(5)
print("\nTop 5 Regions, States, and Cities by Total Products Sold:")
print(top_5_sales)

Top 5 Regions, States, and Cities by Total Products Sold:
                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

#### Using `pivot_table`

In [31]:
# Show the number products sold for region, state, and city.
pivot_table = combined_sales.pivot_table(values='units_sold', index=['region', 'state', 'city'], aggfunc='sum')

# Rename the "units_sold" column to "Total_Products_Sold"
pivot_table = pivot_table.rename(columns={'units_sold': 'Total_Products_Sold'})
# Show the top 5 results.
top_5_sales_pivot = pivot_table.sort_values(by='Total_Products_Sold', ascending=False).head(5)
print("Top 5 Regions, States, and Cities by Total Products Sold (using pivot table):")
print(top_5_sales_pivot)

Top 5 Regions, States, and Cities by Total Products Sold (using pivot table):
                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [35]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
sales_by_region = combined_sales.groupby(['region', 'state', 'city']).agg(Total_Sales=('total_sales', 'sum'))

# Show the top 5 results.
top_5_sales = sales_by_region.sort_values(by='Total_Sales', ascending=False).head(5)
print("\nTop 5 Regions with Highest Sales:")
print(sales_by_region.sort_values(by='Total_Sales', ascending=False).head())

Top 5 Regions with Highest Sales:
                                        Total_Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

#### Using `pivot_table`

In [38]:
# Show the total sales for the products sold for each region, state, and city.
pivot_table = combined_sales.pivot_table(values='total_sales', index=['region', 'state', 'city'], aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)


# Show the top 5 results.
top_5_sales_pivot = pivot_table.sort_values(by='Total Sales', ascending=False).head(5)
print("Top 5 Regions, States, and Cities by Total Sales (using pivot table):")
print(top_5_sales_pivot)

Top 5 Regions, States, and Cities by Total Sales (using pivot table):
                                        Total Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [42]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
sales_by_retailer = combined_sales.groupby(['retailer', 'region', 'state', 'city']).agg(Total_Sales=('total_sales', 'sum'))
# Show the top 5 results.
top_5_sales = sales_by_region.sort_values(by='Total_Sales', ascending=False).head(5)
print("\nTop 5 Retailers with Highest Sales:")
print(sales_by_retailer.sort_values(by='Total_Sales', ascending=False).head())

Top 5 Retailers with Highest Sales:
                                                    Total_Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

#### Using `pivot_table`

In [45]:
# Show the total sales for the products sold for each retailer, region, state, and city.
pivot_table = combined_sales.pivot_table(values='total_sales', index=['retailer', 'region', 'state', 'city'], aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
top_5_sales_pivot = pivot_table.sort_values(by='Total Sales', ascending=False).head(5)
print("Top 5 Retailers by Total Sales (using pivot table):")
print(top_5_sales_pivot)

Top 5 Retailers by Total Sales (using pivot table):
                                                    Total Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [48]:
# Filter the sales data to get the women's athletic footwear sales data.
women_footwear_sales = combined_sales[combined_sales['product'].str.contains("Women's Athletic Footwear")]

#### Using `groupby`

In [55]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.\
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
women_footwear_sales_by_location = women_footwear_sales.groupby(['retailer', 'region', 'state', 'city']).agg(Womens_Footwear_Units_Sold=('units_sold', 'sum'))

# Show the top 5 results.
print("\nTop 5 Retailers with Most Women's Athletic Footwear Sales:")
print(women_footwear_sales_by_location.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head())

Top 5 Retailers with Most Women's Athletic Footwear Sales:
                                                      Womens_Footwear_Units_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                       12107
Foot Locker   Northeast New York       New York                            10996
Kohl's        West      California     Los Angeles                         10826
Foot Locker   Southeast South Carolina Charleston                           8814
Sports Direct South     Texas          Dallas                               8790

#### Using `pivot_table`

In [58]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
pivot_table = women_footwear_sales.pivot_table(values='units_sold', index=['retailer', 'region', 'state', 'city'], aggfunc='sum')

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot_table.rename(columns={'units_sold': 'womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results.
top_5_sales_pivot = pivot_table.sort_values(by='womens_Footwear_Units_Sold', ascending=False).head(5)
print("Top 5 Retailers, Regions, States, and Cities by Women's Athletic Footwear Units Sold (using pivot table):")
print(top_5_sales_pivot)

Top 5 Retailers, Regions, States, and Cities by Women's Athletic Footwear Units Sold (using pivot table):
                                                      womens_Footwear_Units_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                       12107
Foot Locker   Northeast New York       New York                            10996
Kohl's        West      California     Los Angeles                         10826
Foot Locker   Southeast South Carolina Charleston                           8814
Sports Direct South     Texas          Dallas                               8790

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [61]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
women_footwear_sales = pd.pivot_table(women_footwear_sales, values='total_sales', index='invoice_date', aggfunc='sum')


# Optional: Rename the "total_sales" column to "Total Sales"
women_footwear_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)


# Show the table.
print("\nWomen's Athletic Footwear Sales by Day:")
print(women_footwear_sales)

Women's Athletic Footwear Sales by Day:
              Total Sales
invoice_date
2020-01-04         402743
2020-01-05         141801
2020-01-11         129556
2020-01-17         173013
2020-01-22         388250
...                   ...
2021-12-22         200406
2021-12-23         808022
2021-12-24         190885
2021-12-25         315175
2021-12-30         167903

[355 rows x 1 columns]

In [63]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_sales = women_footwear_sales.resample('D').sum()


# Sort the resampled pivot table in ascending order on "Total Sales".
print("\nTop 10 Days with Most Women's Athletic Footwear Sales:")
print(daily_sales.sort_values(by='Total Sales', ascending=False).head(10))

Top 10 Days with Most Women's Athletic Footwear Sales:
              Total Sales
invoice_date
2021-07-16        1521825
2021-12-16        1473497
2021-06-17        1376988
2021-08-17        1086294
2021-07-23        1021806
2021-11-17        1021145
2021-12-09         915011
2021-06-24         884238
2021-07-09         869054
2021-08-10         839120

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [66]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales = women_footwear_sales.resample('W').sum()

# Sort the resampled pivot table in descending order on "Total Sales".
print("\nTop 10 Weeks with Most Women's Athletic Footwear Sales:")
print(weekly_sales.sort_values(by='Total Sales', ascending=False).head(10))

Top 10 Weeks with Most Women's Athletic Footwear Sales:
              Total Sales
invoice_date
2021-12-19        3098970
2021-12-12        2922161
2021-07-11        2835078
2021-07-18        2801449
2021-11-14        2531721
2021-08-22        2491259
2021-08-15        2463941
2021-11-21        2449537
2021-05-16        2422132
2021-06-13        2358602